# Ignore Development secrets
appsettings.Development.json

# Explicitly ignore bin and obj directories
bin/
obj/

# Build results & temporary files
# --------------------------------------------------------
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# --------------------------------------------------------
# Visual Studio / VS Code cache
# --------------------------------------------------------
.vs/
.vscode/
*.code-workspace
