# Ignore development appsettings
**/appsettings.Development.json

# Build folders
bin/
obj/


# --------------------------------------------------------
# Visual Studio / VS Code cache
# --------------------------------------------------------
.vs/
.vscode/
*.code-workspace
