version: "3.8"
services:
  angular:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - nodeapi
    restart: always

  nodeapi:
    build: .\backend\ChatboxService
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/Enterprice
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
