services:
  # =========================
  # Angular frontend service
  # =========================
  angular:
    build: ./frontend
    container_name: angular_frontend
    ports:
      - "4200:80"
    depends_on:
      - nodeapi
      - adminapi
      - workerservice
    restart: always

  # =========================
  # Node.js backend service
  # =========================
  nodeapi:
    build: ./backend/ChatboxService
    container_name: nodeapi_backend
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/Enterprise
    depends_on:
      - mongo
    restart: always

  # =========================
  # .NET Admin backend service
  # =========================
  adminapi:
    build: ./backend/AdminService
    container_name: adminapi_backend
    ports:
      - "5125:5125"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MONGO_URI=mongodb://mongo:27017/Enterprise
    depends_on:
      - mongo
    restart: always

  # =========================
  # .NET Worker backend service
  # =========================
  workerservice:
    build:
      context: ./backend/WorkersService
      dockerfile: Dockerfile
    container_name: dotnet_workerservice
    ports:
      - "7193:7193"
      - "5125:5125"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDbSettings__ConnectionString=mongodb://mongo:27017
      - MongoDbSettings__DatabaseName=Enterprise
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=EADNEW2;User Id=sa;Password=MySecurePass123!;TrustServerCertificate=True;
    depends_on:
      - mongo
      - sqlserver
    restart: always

  # =========================
  # SQL Server
  # =========================
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=MySecurePass123!
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

  # =========================
  # MongoDB
  # =========================
  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

# =========================
# Volumes for persistent data
# =========================
volumes:
  sql_data:
  mongo_data:
