<div class="customer-list-container">
  <h2 class="title">Customer Details</h2>

  <div class="table-container">
    <table class="customer-table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Car Model</th>
          <th>License Plate</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Verified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.firstName }} {{ customer.lastName }}</td>
          <td>{{ customer.carModel }}</td>
          <td>{{ customer.carLicensePlate }}</td>
          <td>{{ customer.phoneNumber }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
