<h2 class="page-title">My Bookings</h2>
<div class="cards" *ngIf="services$ | async as list">
  <mat-card class="service" *ngFor="let s of list">
    <div class="header">
      <div class="id">{{ s.id }}</div>
      <mat-chip [color]="s.status === 'Completed' ? 'primary' : s.status === 'In Progress' ? 'accent' : s.status === 'Rejected by user' ? 'warn' : undefined" [disabled]="false" selected>{{ s.status }}</mat-chip>
    </div>
    <div class="title">{{ s.vehicle }}</div>
    <div class="type">{{ s.type }}</div>
    <div class="date">Date: {{ s.date }}</div>
  </mat-card>
</div>